version: "3.8"

services:
  server:
    image: server:latest
    container_name: server
    restart: always
    # volumes:
    #   - ./server/src/:/app/src
    ports:
      - "4200:4200"
    depends_on:
      - db
    networks:
      - accountant
  db:
    image: postgres:14
    container_name: db
    environment:
      POSTGRES_USER: your_username
      POSTGRES_PASSWORD: your_password
      POSTGRES_DB: your_database
    restart: always
    networks:
      - accountant
    volumes:
      - db:/var/www/accountant/docker-volumes/postgres
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    networks:
      - accountant
    environment:
      PGADMIN_DEFAULT_EMAIL: ainurikdav@gmail.com
      PGADMIN_DEFAULT_PASSWORD: db_root
      PGADMIN_CONFIG_SERVER_MODE: "False"
    volumes:
      - pgadmin:/var/www/accountant/docker-volumes/pgadmin
    ports:
      - "9000:80"
    restart: always

networks:
  accountant:
    driver: bridge

volumes:
  db:
  pgadmin:
